<h2 class="page-header">Acoount Login</h2>
<form method="post" action="/users/login">
    <div class="form-group">
        <label>Username</label>
        <input class="form-control" type="text" placeholder="Username" name="username">
    </div>
    <div class="form-grounp">
        <label>Password</label>
        <input class="form-control" type="password" placeholder="Password" name="password">
    </div>
    <br>
    <button type="submit" class="btn btn-success">Submit</button>
</form>