



<br>
<br>
<hr>
<h3 class="text-center">Add product</h3>
<form method="post" action="/products">
    <div class="form-group">
        <label>title of the product</label>
        <input class="form-control" type="text" placeholder="Title" name="title">
    </div>
    <div class="form-grounp">
        <label>description of the product</label>
        <input class="form-control" type="text" placeholder="description" name="description">
    </div>
    <div class="form-grounp">
        <label>web link to product</label>
        <input class="form-control" type="text" placeholder="link" name="link">
    </div>
    <div class="form-grounp">
        <label>price</label>
        <input class="form-control" type="text" placeholder="price" name="price">
    </div>
    <div class="form-grounp">
        <label>image link</label>
        <input class="form-control" type="text" placeholder="image link" name="image">
    </div>
    <div class="form-grounp">
        <label>category</label>
        <br>
        <select name="category">
            <option value="toys">toys</option>
            <option value="for-men">for-men</option>
        </select>
    </div>
    <br>
    <button type="submit" class="btn btn-success">Submit</button>
</form>
<hr>